<!DOCTYPE html>
<html>
<head>
  <title>Fatapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="navbar-brand">Fatapp</a>
				<ul class="nav navbar-nav">
					<li> <%= link_to "All Statuses", statuses_path %></li>
				</ul>	
			</div>
		</div>
	</div>


	<div class="container">
<div class="page-header">
  <h1>FATWHIP Brings You <b>fatapp</b></h1>
</div>
<%= yield %>
  </div>
</body>
</html>
